body {
    background-color: antiquewhite;
}

h1 {
    color: tan;
}

p {font-family: fantasy;
    font-size: 11px;
    color: rosybrown;
}

h2 {
    font-size: 40px;
    color: rosybrown;
}

li {
    color: tan;
}

a {
    color: rosybrown
}