.Nav-Bar {
   float: right;
    text-decoration: none;
    margin-right: 9px;
    padding: 14px 63px;
}
.Bar {
    background-color: #232b4d;
    height: 30px;
    margin-top: 15px;
}

.top-pic {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(/images/banner-img.jpg);
    background-size: cover;
    background-position: center
}
.HOME {
    text-align: center;
    color: white;
    text-decoration: none;
}
.LEARN {
    text-align: center;
    background-color: #232b4d;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 18px;
    color: white;
    text-decoration: none 
}

.welcome {
    text-align: center;
    text-decoration-line: underline
}
.text-1 {
    text-align-last: center;
}

.center {
    text-align: center;
}

.ABOUT {
    text-align: center;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 18px;
    background-color: #232b4d;
    color: white;
    text-decoration: none

}
.SHOP {
    text-align: center;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    border: 2px solid #232b4d;
    width: 100px;
    text-decoration: none
}
.Block-1 {
    height: auto;
    width: auto;
}

.Pic-1 {
   width: 300px;
    float: left;
    padding-top: 30px;
    padding-bottom: 15px;
}

.Text-2 {
    text-align: right;
    text-decoration: none;
    color: #232b4d;
}
.Text-3 {
    text-align: right;
    text-decoration: none;
    color: #232b4d;
}
.Block-2 {
    height: auto;
    width: auto;
}
.Pic-2 {
    width: 300px;
    float: right;
    padding-top: 46px;
    padding-left: 58px;
    padding-bottom: 48px
}
.Text-4 {
    text-align: left;
    text-decoration: none;
    color: #232b4d;
    float: left;
    padding-right: 206px
}
.Text-5 {
    text-align: left;
    text-decoration: none;
    color: #232b4d;
}
.Block-3 {
    height:auto;
    width:auto;
}
.Pic-3 {
    width: 300px;
    float: left;
    padding-bottom: 15px; 
    padding-top: 21px;
    padding-right: 1px
}
.Text-6 {
    text-align: right;
    text-decoration: none;
    color: #232b4d;
}
.Text-7 {
    text-align: right;
    text-decoration: none;
    color: #232b4d;  
}
.Block-4 {
    height:auto;
    width: auto;
}
.Pic-4 {
    width: 300px;
    float: right;
    padding-top: 24px;
    padding-left: 58px;
    padding-bottom: 48px
}
.Text-8 {
    text-align: left;
    text-decoration: none;
    color: #232b4d;
    float: left;
    padding-right: 192px
}
.Text-9 {
    text-align: left;
    text-decoration: none;
    color: #232b4d;
}
.Visi-Box {
    height: 70px;
}
.Bottom-Block {
    background-color: #efefef;
    height: 150px;
}

.MONEY {
    float:right;
    padding-left: 100px;
}
.LOGO2 {
    float: left;
}
.Visi-Box2 {
    height:10px;
    width:10px;
}
.Text-11 {
    text-align: center;
    color: dimgrey;
    padding-left: 247px;
}
.Text-10 {
    text-align: left;
    text-decoration: none;
    color: dimgrey;
}
.Text-12 {
    text-align: right;
    text-decoration: none;
    color: dimgray;
    float: right;
    
}